.card {
  background-color: var(--fundo-card);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #e1e8e5; */
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.titulo {
  margin-top: 0;
  font-size: 1.2rem;
  color: #5a9ee2;
  /* border-bottom: 2px solid #ddd; */
  padding-bottom: 10px;
  margin-bottom: 15px;
}